


{% extends "BlogBundle::layout.html.twig" %}

{% block title %} {{ parent() }}- Article {% endblock %} 

{% block titrePage %} Ajout d'article {% endblock %}

{% block h3 %}{% endblock %}



{% block contenu %}

  {% include "BlogBundle:Blog:formulaire.html.twig" %}

 <p>
    Vous etes en train de créer un nouvel article
  </p>

  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quisquam vel exercitationem illum architecto quibusdam voluptate amet in quam, aspernatur nam, harum doloremque beatae, odio aut similique eligendi soluta iusto dolorem. Accusantium quasi veritatis aliquam et, fuga adipisci tenetur ratione? Distinctio pariatur, corporis corrupti ut enim ea excepturi delectus amet at est perspiciatis saepe libero nisi mollitia veritatis nihil quas tempora adipisci possimus laboriosam. Atque reprehenderit, quod maxime impedit, neque nisi tenetur ipsa odio hic quisquam sapiente aperiam adipisci quia. Similique minus nulla odio deleniti vero perspiciatis vel quis totam accusamus voluptatibus natus, iste rerum, sit assumenda commodi! Dolorum nostrum velit veritatis ut commodi modi, aliquid! Animi harum inventore, error fuga atque natus in id deserunt officiis ab eaque accusamus aliquam perspiciatis sequi blanditiis distinctio adipisci unde eum aspernatur. Sed quia quisquam eaque ad consequatur tempora quaerat ab libero soluta deserunt, similique at molestiae aliquid minus laudantium veritatis aut! Ex!
  </p>

{% endblock %}






